@import "tailwindcss";

:root {
  --background: linear-gradient(180deg, #1f2b42 0%, #101921 99.99%);
  --foreground: white;
}

html {
  background: #1f2b42;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
